@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;
    margin: 0;padding: 0;
    /* border: 2px solid red; */

}

.main{
    max-width: 1600px;
    margin: 0 auto;
    padding: 5% 0 0 0;
    /* height: 90%; */
    /* border: 2px solid rgb(255, 0, 119); */
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.section{
    /* border: 2px solid rgb(0, 255, 4); */
    margin-left: 60px;
    
}

.section h1{
    font-size: 80px;
    font-weight: 900;
    padding-bottom: 30px;
}

/* .aside{
    border: 2px solid rgb(0, 174, 255);
} */

.para{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.aside img{
    width: 70%;
    float: right;
    padding-top: 90px;
}

.sectionButton button{
    display: inline-block;
    margin: 2px 20px;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 1px 2px 2px 0 rgba(43, 43, 43, 0.694) ;
    border: none;
}
.sectionButton button:hover{
    background-color: rgb(192, 143, 143);
    color: black;
}


.shop{
    background-color: rgb(180, 12, 12);
    color: white;
}

.cate{
    background-color: gray;

}