.navbar{
    /* border: 2px solid red; */
    margin: 0 auto;
    max-width: 1700px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}

.links a{
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    font-size: larger;
    font-weight: 600;
    color: black;
}
.links a:hover{
    color: rgb(88, 9, 9);
    text-decoration: underline;

}


.links{
    /* border: 2px solid red; */
    display: flex;
    margin-right: 40px;
    text-align: center;
}


.logo img{
    /* border: 2px solid red; */
    height: 80px;
}
